.form {
  &__login {
    display: none;
    &--active {
      display: block;
      position: absolute;
      min-height: 100vh;
      padding: 70px 0;
    }
  }
  &__register {
    display: none;
    &--active {
      display: block;
      position: absolute;
      height: 100vh;
      padding: 70px 0;
    }
  }
  height: 100vh;
  background: $accent;
  border-radius: 20px;
  width: 40%;
  min-width: 400px;
  margin: 100px auto;
  @include flex(column, center, center);
  &__header {
    text-transform: uppercase;
    font-weight: 400;
    margin: 50px 0;
    margin-bottom: 50px;
  }
  &__input-container {
    margin: 25px 0;
    width: 100%;
  }
  &__input {
    margin-top: 15px;
    width: 100%;
    min-height: 40px;
    &--focus {
      border: 1px solid rgb(206, 49, 49);
    }
    &::placeholder {
      color: #fff;
    }
  }
  &__btn {
    display: inline-block;
    text-transform: uppercase;
    background-color: $blue;
    color: #fff;
    margin: 0 auto;
    margin-top: 50px;
    padding: 15px 0;
    width: 100%;
    border-radius: 10px;
    border: none;
  }
  &__link {
    display: inline-block;
    width: 85%;
    margin: 50px auto;
    font-size: 0.8rem;
    text-transform: uppercase;
    color: $blue;
  }
}
