.register-form {
  background: $text-bg;
  width: 50%;
  min-width: 400px;
  margin: 150px auto;
  padding: 70px 0;
  @include flex(column, center, center);
  &__header {
    text-transform: uppercase;
    font-weight: 400;
    margin-bottom: 50px;
  }
  &__input-container {
    margin: 25px 0;
    width: 85%;
  }
  &__input {
    margin-top: 15px;
    width: 100%;
    min-height: 50px;
  }
  &__btn {
    display: inline-block;
    text-transform: uppercase;
    background-color: $blue;
    color: #fff;
    margin: 0 auto;
    margin-top: 50px;
    padding: 15px 0;
    width: 60%;
    border-radius: 10px;
    border: none;
  }
  &__link {
    display: inline-block;
    width: 85%;
    margin: 50px auto;
    font-size: 0.8rem;
    text-transform: uppercase;
    color: $blue;
  }
}
