.main--active {
  & * {
    display: none;
  }
}
.main {
  margin: 100px 0;
  @include flex(row, space-evenly, flex-start);
  &__category-item {
    @include flex(column, flex-start, flex-start);
  }
  &__categories-link {
    display: inline-block;
    margin: 20px 0;
    padding: 10px 25px;
    border-radius: 10px;
    text-transform: capitalize;
    font-size: 0.8rem;
    color: #fff;
    &--active {
      background-color: $blue;
    }
  }
  &__add-collection,
  &__bookmark-name,
  &__bookmark-link,
  &__bookmark-submit {
    display: inline-block;
    margin-top: 50px;
    color: $blue;
    background: transparent;
    border: 1px solid $blue;
    border-radius: 10px;
    padding: 10px 25px;
    font-size: 0.8rem;
    &--focus {
      border: 1px solid rgb(206, 49, 49);
    }
    &::placeholder {
      text-transform: uppercase;
    }
  }
  &__bookmark-submit {
    font-size: 0.9rem;
    background-color: $blue;
    width: 100%;
    color: $accent;
    text-transform: uppercase;
  }
  &__content-btn {
    margin-top: 40px;
  }
  &__content-item {
    @include flex(row, space-between, center);
    padding: 15px 45px;
    margin: 20px 0;
    background-color: $accent;
    border-radius: 10px;
  }
  i {
    cursor: pointer;
    margin: 0 7px;
  }
  &__content-name,
  &__content-link {
    margin: 20px 0;
    margin-right: 75px;
    font-weight: 400;
    font-size: 0.9rem;
  }
  &__content-link {
    cursor: pointer;
    color: $blue;
    font-size: 0.7rem;
  }
}
